.Rproj.user
.Rhistory
.RData
.Ruserdata
# knitr and R markdown default cache directories
/*_cache/
/cache/
#Temporary files created by R markdown
*.utf8.md
*.knit.md
#htmls
*.html
#data
*.rds
*.Rds
#pdf plots (png ok)
*.pdf
#jpg plots (png ok)
*.jpg  

All_Predictions.csv
Fossil_Predictions.csv
All_Int_Predictions.csv
Fossil_Int_Predictions.csv
extant_predictions.csv
Ordinal_Preds.csv
extant_ord_predictions.csv